export(golden_gate_assemble)
export(assemble_interactive)
export(assemble_from_table)
export(read_part)
export(write_genbank)
export(digest_and_select)
export(make_fragment)
export(ligate)
export(list_plasmids)
export(load_plasmid)
export(plasmid_search_path)
export(set_plasmid_dir)
importFrom(methods, is)
